body {
	background-color: rgba(0, 0, 0, 0.212)
}

.container-fluid {
	background-color: lightblue;
	margin: 1rem;
}

.input-group.md-form.form-sm.form-1 {
	border: 1px solid #bdbdbd;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.container2 {
	margin: 5px;
	align-items: center;
}

.card.body {
	color: lightblue;
}

.card-footer:last-child  {
	font-size: large;
	font-style: italic;
	font-weight: bold;
}

.container {
	height: 100vh;
	margin: 20px auto;
	background-color: rgb(146, 199, 194);
	padding: 15px 35px;
	border-radius: 1.5em;
	max-width: 70em;
}

h1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 10em;
	letter-spacing: 2px;
}

#button {
	display: flex;
	width: 6rem;
	color: #ebeb8b

}

.footer {
	width: 100vw;
	background-color: lightblue;
	justify-content: space-evenly;
}

div.col {
	display: grid;
	justify-content: center;
	padding-top: 2rem;
	margin: 2rem;
}

/* div.card {
	@media (max-width: 600px) {
    repeat(2, 1fr);
  }
} */